<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://source.unsplash.com/featured/?cocktail)">
  My Cocktails
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-4 p-2">
      <div class="card-product">
        <img src="https://source.unsplash.com/featured/?cocktail,<%= cocktail.name %>" />
        <div class="card-product-infos">
          <h2><%= cocktail.name %></h2>
          <p><%= link_to "make me...", cocktail_path(cocktail) %></p>
          <p>
          <%= link_to cocktail_path(cocktail),method: 'DELETE', class: "delete-link hidden" do %>
          <button class="btn btn-tag">X</button>
          <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
    <div class="col-4 p-2">
      <div class="card-product">
        <img src="https://source.unsplash.com/featured/?cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3))" />
        <div class="card-product-infos">
          <p>
            <%= simple_form_for(@cocktail_new) do |f| %>
              <%= f.input :name %>
              <%= f.submit "Add a new Cocktail", class: "btn btn-primary" %>
              <% end %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
